
#hand{
    padding: auto;
    font-weight: bold;
    font-size: 30px;
}

.container{
    display: flex;
    flex-direction: column;
}

#info02{
    background: url(https://www.bikeseoul.com/img/info_reg_pic_02_bg.png) 0 0 no-repeat;
    background-size: contain;
    color: black;
    margin-left: 180px;
}

#info03{
    background: url(https://www.bikeseoul.com/img/info_reg_pic_03_bg.png) 0 0 no-repeat;
    background-size: contain;
    color: black;
}

div.mid p{
    width: 33%;
    height: 57px;
    display: inline-block;
    line-height: 57px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    box-sizing: border-box;
}

#youtubePlay{
    display: none;
}

#hidden{
    display: flex;
}

#safe_rule{
    display: none;
}

div#safe_rule img{
    width: 200px;
    height: 350px;
}