/* *{
    border: 1px solid red;
} */
div#all{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    align-items: center;
}

#container_total{
    text-align: center;
    max-width: 560;
}

#container_total span:first-child{
    font-weight: bold;
    font-size: 13px;
}

#container_total hr{
    max-width: 555px;
}

h5#content_title{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}

#notice_div_btn{
    text-align: center;
    max-width: 555px;
}

#notice_detail_btn{
    text-align: center;
    width: 150px;
    font-size: 12px;
    line-height: 2rem;
    border: 1px solid #aaa;
}

h5#content_title img:first-child{
    width: 13px;
    height: 15px;
}

h5#content_title img:nth-child(2){
    width: 13px;
    height: 15px;
}


header{
    
}

footer{

}