/* *{
    border: 1px solid red;
} */
div#all{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#container_total{
    text-align: center;
    width: 500px;
    
    padding: 10px 20px 50px 20px;
}

#container_total span:first-child{
    font-weight: bold;
    font-size: 13px;
}

#container_total hr{
    width: auto;
}

h3#content_title{
    display: flex;
    font-weight: bold;
    font-size: 16px;
    justify-content: space-between;
}

#notice_div_btn{
    text-align: center;
    max-width: 555px;
}

#notice_detail_btn{
    text-align: center;
    width: 150px;
    font-size: 12px;
    line-height: 2rem;
    border: 1px solid #aaa;
}

#header-wrap, #footer-wrap{
    display: none;
}


h3#content_title img:first-child{
    width: 10px;
    height: 18px;
}

h3#content_title img:nth-child(2){
    width: 15px;
    height: 15px;
    visibility: hidden;
}

#div_prev_01 {
    display: inline-block;
    margin-left: 0px;
    width: 22%;
}
#div_prev_01 img{
    display: inline;
    text-align: left;
}

#div_prev_02{
    display: inline-block;
    text-align: left;
    width: 68%;
}