@media screen and (max-width:700px) {

    .header {
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
    }

}

section {
    flex-flow: column wrap;
    border: 2px solid black;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
    background-color: white;
    border: 0px;
}

#btn_img {
    display: flex;
    width: 40px;
    margin-right: 50px;
}

.search {
    display: flex;
    position: relative;
    width: 520px;
    height: 45px;
    margin-left: 50px;
    margin-right: 50px;
}

#input_text {
    width: 100%;
    background-color: #EDEDED;
    border: 0px;
    border-radius: 8px;
    font-size: 14px;
    height: 28px;
    padding: 10px 12px;
}

#input_img {
    position: absolute;
    width: 25px;
    top: 13px;
    right: 15px;
    margin: 0;
}

.img_log {
    line-height: 0;
}

#logo {
    width: 250px;
    height: 60px;
}