* {
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#btn{
    /* margin-left: 350px; */
    background-color: white;
    border: 0px;
    
}

#btn_img{
    width: 40px;
    height: 40px;
}

#logo{
    width: 250px;
    height: 60px;
    /* margin-left: 100px; */
    margin-top: 20px;
}

.search {
    position: relative;
    width: 520px;
    height: 45px;
    /* margin-left: 50px; */
}

#input_text{
    width: 100%;
    background-color: #EDEDED;
    border: 0px;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    height: 28px;
}

#input_img{

    position : absolute;
    width: 25px;
    top: 13px;
    right: 15px;
    margin: 0;

}

