div#all{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#container_total{
    display: inline-block;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px 0px 20px;
    width: 500px;
}

#header-wrap, #footer-wrap{
    display: none;
}

#ticket_status_table,#receive_ticket_table,#send_ticket_table{
    width: 100%; line-height: 2.5rem;
    margin-top:1rem; margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
#ticket_status_table tr,#receive_ticket_table tr,#send_ticket_table tr{ 
    display:flex;
    font-size: 13px;
    line-height: 3rem;
    border-bottom: 1px solid #cccccc
}
#ticket_status_table th,#receive_ticket_table th,#send_ticket_table th{ width: 15%; display: flex; flex-grow: 3; justify-content: center;}
#ticket_status_table td,#receive_ticket_table td,#send_ticket_table td{ width: 15%; display: flex; flex-grow: 3.5; justify-content: center;}
#ticket_status_table tr:first-child,#receive_ticket_table tr:first-child,#send_ticket_table tr:first-child{
    width: 100%;
    justify-content: center;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
    font-size: 12px;
}
#ticket_status_table th:first-child,#receive_ticket_table th:first-child,#send_ticket_table th:first-child{
    width: 50%;
    font-weight: bold;
    font-size: 12px;
}
#ticket_status_table td:first-child,#receive_ticket_table td:first-child,#send_ticket_table td:first-child{
    width: 50%;
    font-size: 12px;
}

.nav-item a{
    color: #4cab6a;
}

